.well {
  border: 2px solid darkred;
  width: 80%;
}

.showtext1 {
    text-decoration: underline;
    cursor: pointer;
}


.hidetext1 {
    display: none;
    text-decoration: underline;
    cursor: pointer;
}
.showtext2 {
  text-decoration: underline;
  cursor: pointer;
}


.hidetext2 {
  display: none;
  text-decoration: underline;
  cursor: pointer;
}
.showtext3 {
  text-decoration: underline;
  cursor: pointer;
}


.hidetext3 {
  display: none;
  text-decoration: underline;
  cursor: pointer;
}
.showtext4 {
  text-decoration: underline;
  cursor: pointer;
}


.hidetext4 {
  display: none;
  text-decoration: underline;
  cursor: pointer;
}
.showtext5 {
  text-decoration: underline;
  cursor: pointer;
}


.hidetext5 {
  display: none;
  text-decoration: underline;
  cursor: pointer;
}
.showtext6 {
  text-decoration: underline;
  cursor: pointer;
}


.hidetext6 {
  display: none;
  text-decoration: underline;
  cursor: pointer;
}
.showtext7 {
  text-decoration: underline;
  cursor: pointer;
}


.hidetext7 {
  display: none;
  text-decoration: underline;
  cursor: pointer;
}
.showtext8 {
  text-decoration: underline;
  cursor: pointer;
}


.hidetext8 {
  display: none;
  text-decoration: underline;
  cursor: pointer;
}
.showtext9 {
  text-decoration: underline;
  cursor: pointer;
}


.hidetext9 {
  display: none;
  text-decoration: underline;
  cursor: pointer;
}